public/index.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Front-end Gulp</title>
    <meta name="description" content="Front-end tool with gulp">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="//fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>
    <header class="header u-cf">
      <div class="header__logo"><a href="#">Formidable</a></div><a href="#" class="header__open_nav">Menu</a>
      <nav class="header__nav">
        <ul>
          <li><a href="#">Login</a></li>
        </ul>
      </nav>
    </header>
    <section class="hero">
      <div class="container">
        <h1 class="hero__title">Create beautiful forms</h1>
        <p class="hero__text">Increase response rate &amp; quality with design the delights</p><a href="#" class="button button--line">Sign up</a>
      </div>
    </section>
  </body>
</html>

src/jade/index.jade
extends layout

block content
  section.hero
    .container
      h1.hero__title Create beautiful forms
      p.hero__text Increase response rate &amp; quality with design the delights
      a.button.button--line(href="#") Sign up
